body {
  background-color: #282F44;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-top-color: #FFCD38;
  height: 0px;
  border-width: 5px;
  width: 10%;
}
header{
  text-align: center;
}
h1 {
  color: #FFCD38;

}
h3{
  color:#FFDD67;
}
p{
  color: white;;
}
table{
  color: white;
}
a{
  color: white;
}
form{
  color: white;
}
